body {
  margin: 0;
  padding: 0;
  font-family: "courier New", courier, monospace;
  background: linear-gradient(to right, rgb(0, 101, 234), rgb(93, 230, 227));
}

button {
	cursor: pointer;
}

.lg{
  background: linear-gradient(to right, rgb(0, 101, 234), rgb(93, 230, 227));
}
